.login {
  background-color: white;
  color: black;
  margin: auto;
  margin-top: 90px;
  border-style: solid;
  border-color: #4dc4c0;
  border-radius:  60px;
  width: 600px;
  text-align: center;
}
.logform{
  margin:20px;
  padding: 10px;
  border-radius:2000px;
  outline-width:0;
  width:30%;
}
.error_mess{
  padding: 15px;
  border-radius:  60px 60px 0px 0px;
}
.login_button{
  font-size: 20px;
  margin:20px;
  padding: 10px;
  width:30%;
  border: 0px;
  background-color: #90e3df;
  border-radius: 100px;
}
.loginBody{
  background-image: linear-gradient(to right, #69c9c5, #b0fffc);
}
.mainBody{
  margin: 0px;
  padding: 0px;
  font-size: 25px;
}
.top-bar{
  margin: 0px;
  background-color: #71f0f0;
  padding: 20px;
  padding-left: 50px;
  font-size: 30px;
}
.top-bar td{
  padding-right: 8px;
}
.mainDiv{
  padding: 50px;
  font-size: 25px;
}
.mainForm{
  vertical-align: middle;
  margin:20px;
  padding: 10px;
  border-radius:2000px;
  outline-width:0;
  width:400px;
  height: auto;
}
.operationLabel{
  vertical-align: middle;
}
.operation_button{
  font-size: 20px;
  margin:0px;
  padding: 10px;
  width:400px;
  border: 0px;
  background-color: #90e3df;
  border-radius: 100px;
}
.register_button{
  font-size: 20px;
  margin:20px;
  padding: 10px;
  width:420px;
  border: 0px;
  background-color: #90e3df;
  border-radius: 100px;
  vertical-align: middle;
}
.p-top-bar{
  float:left;
}
.logout_button{
  font-size: 20px;
  margin:0px;
  padding: 10px;
  width:200px;
  border: 0px;
  background-color: #ffffff;
  border-radius: 100px
}
.res {
  font-family: monospace;
  background-color: #e6e6e6;
  color: #595959;
  padding:20px;
  border-radius: 10px;
  border: 2px solid;
}
.home_button{
  font-size: 20px;
  margin:0px;
  padding: 10px;
  width:200px;
  border: 0px;
  background-color: #71f0f0;
  border-radius: 100px
}
input[type="radio"] {
    height:2.5em;
    width: 2.5em;
    margin-right: 20px;
    margin: 40px;
    margin-left: 0px;
    background-color: #69c9c5;
    display: auto;
    vertical-align: middle;
}
input[type='radio']:after {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    vertical-align: middle;
}
input[type='radio']:checked:after {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #71f0f0;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    vertical-align: middle;
}
html{
  font-family: Sans-serif;
}
td, th {
  text-align: left;
  padding: 8px;
  padding-right: 80px;
  vertical-align: middle;
}
